@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Your application description page.</p>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - SalesWebMvc - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
    </div>
</footer>